.ch-home-banner {
    width: 100vw;
    height: 50vw;
    background: var(--secondary-color);
    position: relative;
    background-image: url('../images/web/main-bg.png');
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ch-home-banner h2{
    color: var(--font-color-white);
    text-align: center;
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 3rem;
}

.ch-secondary-banners-container {
    width: 75vw;
    height: 350px;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ch-secondary-banner {
    flex: 1;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    height: 90%;
    border-radius: 5px;
}

.ch-secondary-banner-image{
    width: 25%;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: .8;
    margin-top: 50px;
}

.ch-secondary-banner:first-child {
    margin-left: 0;
}

.ch-secondary-banner:last-child{
    margin-right: 0;
}

.ch-secondary-banner-text {
    margin-top: 15px;
    text-align: center;
    font-family: "Ubuntu";
    font-size: 1.2rem;
}


.ch-products {
    width: 75vw;
    min-height: 700px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
    margin-bottom: 150px;
}

.ch-title-products {
    font-size: 2.3rem;
    width: auto;
    text-align: center;
    opacity: .9;
    font-family: "Ubuntu";
    font-weight: bold;
}

.ch-subtitle-products {
    font-size: 1.3rem;
    width: auto;
    text-align: center;
    opacity: .7;
}

.ch-products-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    height: auto;
    flex-flow: row wrap;
    margin-bottom: 100px;
}

.ch-products-block {
    flex: 1;
    min-width: 25%;
    max-width: 25%;
    height: 400px;
    display: flex;
    align-content: center;
    align-items: center;
    transition: .5s;
    margin-top: 30px !important;
    justify-content: center;
    text-decoration: none !important;
}

.ch-products-block:first-child{
    margin-left: 0;
}

.ch-products-block-container {
    position: relative;
    cursor: pointer;
    flex: .8;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 3px;
    transition: .5s;
}

.ch-products-block-container:hover{
    box-shadow: 1px 1px 5px 2px lightgray;
    transition: .5s;
}

.ch-products-block-container img{
    max-height: 190px;
    width: 100%;
    background-size: 100% 100%;
    border-radius: 3px 3px 0px 0px;
    padding-bottom: 10px;
}

.name-product {
    opacity: .7;
    text-align: center;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.new-product-price {
    color: var(--secondary-color);
    border-radius: 3px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}

.new-product-buttons{
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 40px;
    display: flex;
    position: absolute;
    bottom:0;
    margin-bottom: 20px !important;
}

.product-button{
    flex:1;
    margin-left: 8%;
    margin-right: 5%;
    cursor: pointer;
}

.product-button i{
    background: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 12px;
    border-radius: 100%;
    transition: .5s;
}

.product-button-clicked i{
    background: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    border: 2px solid var(--secondary-color) !important; 
}

.product-button i:hover{
    opacity: .6;
    transform: scale(1.1);
    transition: .5s;
}

.button-see-all {
    margin-left: 43%;
    transform: translateX(-50%);
    background: var(--secondary-color);
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    transition: .5s;
}

.button-see-all:hover{
    color: white;
    text-decoration: none;
    background: var(--secondary-color-hover);
    transition: .5s;
}

.ch-promo-banner{
    width: 100vw;
    min-height: 300px;
    background: var(--secondary-color);
}

.ch-most-sell-products{
    width: 75vw;
    margin-top: 200px;
    min-height: 300px;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
}

.ch-most-sell-products-container{
    margin-top: 80px;
    display: flex;
}

.ch-newsletter{
    width: 100vw;
    height: 80vh;
    margin-top: 250px;
    background: var(--secondary-color);
}