:root {
    --primary-color: #f3f3f3;
    --midnigth-blue: #374875;
    --midnigth-blue-light: #5068A9;
    --blue-font-color: #5068A9;
    --bg-color: #f5f5f5;
    --bg-input: #ebebeb;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

body {
    position: relative;
    background: var(--bg-color);
    overflow-x: hidden;
}

input{
    outline: none;
}

input:focus {
    outline: none;
}

.ch-body {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}