<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title | CHStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <header class="ch-main-header">
        <div class="ch-header-info-line">
            <div class="ch-header-info-line-items">
                <div class="ch-header-info-line-itens-box-right">
                    <a href="#">
                        <p>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            &nbsp;+55 (99) 9 99999999
                        </p>
                    </a>
                </div>

                <div class="ch-header-info-line-itens-box-left">
                    <a href="#">
                        <p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            &nbsp;suporte@chstore.com
                        </p>
                    </a>
                </div>
            </div>
        </div>

        <nav class="ch-nav">
            <div class="ch-nav-logo-line">
                <div class="ch-nav-logo-image">
                    <img src="~/images/logo_transparent.png" />
                </div>
                <div class="ch-nav-logo-menus">
                    <div class="ch-nav-logo-menus-itens">
                        <div class="ch-nav-logo-menus-item">
                            <a href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <p>Conta</p>
                            </a>
                        </div>
                        
                        <div class="ch-nav-logo-menus-item">
                            <a href="#">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <p>Carrinho</p>
                            </a>
                        </div>
                        
                        <div class="ch-nav-logo-menus-item">
                            <a href="#">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <p>Entrar</p>
                            </a>
                        </div>
                        
                        <div class="ch-nav-logo-menus-item">
                            <a href="#">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <p>Cadastrar</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ch-nav-pages-line">
                <div class="ch-nav-pages-line-itens">
                    <div class="ch-nav-pages-line-item">
                        <a href="#">Início</a>
                    </div>
                    
                    <div class="ch-nav-pages-line-item">
                        <a href="#">Produtos</a>
                    </div>
                    
                    <div class="ch-nav-pages-line-item">
                        <a href="#">Contato</a>
                    </div>
                    
                    <div class="ch-nav-pages-line-item">
                        <a href="#">Sobre</a>
                    </div>
                </div>

                <div class="ch-nav-pages-line-search">
                    <div class="ch-nav-pages-line-search-container">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" placeholder="Digite o que procura..."/>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
