@{
    ViewBag.Title = "Home";
    ViewBag.PageCSS = "home.css";
}

<section class="ch-main-content">
    <div class="ch-home-banner">
        <h1>Banner</h1>
    </div>

    <div class="ch-secondary-banners-container">
        <div class="ch-secondary-banner">Mini Banner</div>
        <div class="ch-secondary-banner">Mini Banner</div>
        <div class="ch-secondary-banner">Mini Banner</div>
    </div>

    <div class="ch-new-products">
        <h2 class="title">Veja nossos lançamentos!</h2>
    </div>
</section>
