@{
    ViewBag.Title = "Login";
    ViewBag.PageCSS = "login.css";
}

<section class="login">
    <div class="login-form">
        <form method="post">
            <h4>
                SEJA BEM-VINDO AO
                <br />
                CH STORE
            </h4>

            <input type="text" name="login" placeholder="Digite seu usuário, email ou CPF" />

            <br />

            <input type="password" name="password" placeholder="Digite sua senha" />

            <br />

            <button class="btn-send" type="submit">ENTRAR</button>
        </form>
    </div>

    <a href="#" class="forgot-password">ESQUECEU SUA SENHA?</a>
</section>