*{
    margin:0;
    padding:0;
    border:0;
}

.login {
    display: flex;
    position: absolute;
    background: white;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-content{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 80vh;
}

.login-image {
    flex: 2;
    width: 100%;   
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-image img{
    border-radius: 100%;
    border: 2px solid dimgray;
}

.login-fields{
    flex: 3;
    width: 100%;
}

.input-form {
    padding-left: 20px !important;
    margin-left: 50%;
    transform: translate(-50%);
    border: 1px solid dimgray;
    padding: 8px;
    outline: 0;
    min-width: 350px;
    color: #3d3d3d;
    transition: 0.5s;
    border-radius: 20px;
}

.input-form:focus{
    border-color: mediumaquamarine;
    transition: 0.5s;
} 

.mg-05{
    margin-top: 5%;
}

.btn-send {
    width: 200px;
    margin-left: 50%;
    margin-top: 10%;
    transform: translateX(-50%);
    padding: 12px;
    background-color: cadetblue;
    color: white;
    border-radius: 50px;
    transition: 0.5s;
    outline: 0;
}

.btn-send:hover{
    background:#004541;
    transition: 0.5s;
    outline: 0;
}