*{
    margin:0;
    padding:0;
    border:0;
}

*:focus {
    outline: 0 !important;
}

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    background: #0F102B;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    width: 400px;
    height: 380px;
    background: #23243D;
    border-radius: 30px;
    margin-top: 20px;
}

.login-form h4{
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    margin-top: 30px;
}

.login-form input{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 40px;
    padding: 10px;
    background: #434458;
    outline: 0;
    border: 1px solid transparent;
    color: #f3f3f3;
    border-radius: 30px;
    padding-left: 15px;
}

.login-form input:focus{
    border: 1px solid transparent;
    outline: 0;
}

.btn-send {
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    background: #fff;
    border: none;
    outline: none;
    color: #0F102B;
    border-color: transparent !important;
    transition: 0.5s;
}

.forgot-password {
    margin-top: 15px;
    color: #434458;
}

.forgot-password:hover{
    transition: 0.5s;
    color: #303140;
}